{% extends "products/base.html" %}

{% block title %}
Home
{% endblock %}



{% block body %}
{% load static %}
<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        {% for item in carousel_items %}
        <div class="owl-carousel-item position-relative" data-dot="<img src='{{ item.image.url }}'>">
            <img class="img-fluid" src="{{ item.image.url }}" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown">{{ item.title }}</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-3">{{ item.description }}</p>
                            <a href="#" class="btn btn-primary rounded-pill py-3 px-5 animated slideInLeft">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Carousel End -->



<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-4" style="text-transform: uppercase; font-weight: 500;">Our Business Strength</h1>
            <h2 style="text-transform: uppercase; font-weight: 300; letter-spacing: 1px;">Sister Concern</h2>



        </div>
        <div class="row g-4">
            {% for item in business_strengths %}
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.{{ forloop.counter0 }}s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{{ item.image.url }}" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <img src="{{ item.icon.url }}" style="width:80px;">
                        </div>
                        <h4 class="mb-3">{{ item.title }}</h4>
                        <p>{{ item.description }}</p>
                        {% if item.link %}
                        <a class="small fw-medium" href="{{ item.link }}" target="_blank">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        {% else %}
                        <a class="small fw-medium disabled">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->


<!--Franchise Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h2 style="text-transform: uppercase; font-weight: 300; letter-spacing: 1px;">We are franchise of</h2>
        </div>
        <div class="row g-4">
            {% for franchise in franchises %}
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.{{ forloop.counter0 }}s">
                <div class="service-item rounded overflow-hidden">
                    <!-- Franchise Image -->
                    <img class="img-fluid" src="{{ franchise.image.url }}" alt="{{ franchise.name }}">
                    
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <!-- Franchise Icon -->
                            <img src="{{ franchise.icon.url }}" alt="{{ franchise.name }} icon" style="width:80px;">
                        </div>
                        
                        <!-- Franchise Name -->
                        <h4 class="mb-3">{{ franchise.name }}</h4>
                        
                        <!-- Franchise Description -->
                        <p>{{ franchise.description }}</p>
                        
                        <!-- Optional Read More Link -->
                        {% if franchise.link %}
                        <a class="small fw-medium" href="{{ franchise.link }}" target="_blank">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        {% else %}
                        <a class="small fw-medium disabled">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container feature px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="p-lg-5 ps-lg-0">
                        <h6 class="text-primary">Why Choose Us!</h6>
                        <h1 class="mb-4">We are Committed</h1>
                        <p class="mb-4 pb-2">We fully comply with health and safety concern and we are highly cautious during making any agreement with 3rd party vendor regarding safety and health hazards issues</p>
                        <div class="row g-4">
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle">
                                        <i class="fa fa-check text-white"></i>
                                    </div>
                                    <div class="ms-4">
                                        <h5 class="mb-0">Health</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle">
                                        <i class="fa fa-check text-white"></i>
                                    </div>
                                    <div class="ms-4">
                                        <h5 class="mb-0">Environment</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle">
                                        <i class="fa fa-check text-white"></i>
                                    </div>
                                    <div class="ms-4">
                                        <h5 class="mb-0">Safety</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-center">
                                    <div class="btn-lg-square bg-primary rounded-circle">
                                        <i class="fa fa-check text-white"></i>
                                    </div>
                                    <div class="ms-4">
                                        <p class="mb-0">Quality</p>
                                        <h5 class="mb-0">Assurance</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src={% static "img/feature.jpg"%} style="object-fit: cover;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Quote Start -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container quote px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src={% static "img/quote.jpg"%} style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">
                        <h3 class="text-primary">Our Message To</h3>
                        <h1 class="mb-4">Valued Clients</h1>
                        <p class="mb-4 pb-2">Our ambition is to play an        important role in the industry by creating an sustainable bridge between construction ability and the investor’s need.
                            We would like to cater value of a project in terms of design, functionality, cost and location. Apart from this, we also work hard in order to absorb standard trends, deliver quality realty products and analyze customers’ expectations.
                            We are vastly experienced and as a developer, our minute assessment of the market condition will help us become successful in the business. We are Committed to maintaining strong        connections with local government in order to accomplish each project within promised time. We are prepared to be a part of a large team as we will have to work with business architects, and numerous other professionals in order to see through a project from start to finish.
                            Company
                            Profile
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quote End -->


{% comment %} <!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary">FDL FAMILY</h6>
            <h1 class="mb-4">Visionary Team</h1>
        </div>
        <div class="row g-4">
            {% for member in team_members %}
            <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.{{ forloop.counter0 }}s">
                <div class="team-item rounded overflow-hidden">
                    <div class="d-flex">
                        <img class="img-fluid" src="{{ member.image.url }}" alt="{{ member.name }}">
                    </div>
                    <div class="p-4">
                        <h5>{{ member.name }}</h5>
                        <span>{{ member.position }}</span>
                        <p>{{ member.bio }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End --> {% endcomment %}


{% comment %} <!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h6 class="text-primary">INVESTORS</h6>
            <h1 class="mb-4">What Our Investor Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            {% for investor in investors %}
            <div class="testimonial-item text-center">
                <div class="testimonial-img position-relative">
                    <img class="img-fluid rounded-circle mx-auto mb-5" src="{{ investor.image.url }}">
                    <div class="btn-square bg-primary rounded-circle">
                        <i class="fa fa-quote-left text-white"></i>
                    </div>
                </div>
                <div class="testimonial-text text-center rounded p-4">
                    <p>{{ investor.quote }}</p>
                    <h5 class="mb-1">{{ investor.name }}</h5>
                    <span class="fst-italic">{{ investor.position }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Testimonial End --> {% endcomment %}

<!-- Map Section Start -->
<div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
    <div class="container contact px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-12 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    {{ static_content.map_embed_url|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Map Section End -->



{% endblock %} 