{% extends "products/base.html" %}

{% block title %}
Business
{% endblock %}
{% block body %}
{% load static %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Business</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Business</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-4">Our Business Strength</h1>
        </div>
        <div class="row g-4">
            {% for item in business_strengths %}
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.{{ forloop.counter0 }}s">
                <div class="service-item rounded overflow-hidden">
                    <img class="img-fluid" src="{{ item.image.url }}" alt="">
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <img src="{{ item.icon.url }}" style="width:80px;">
                        </div>
                        <h4 class="mb-3">{{ item.title }}</h4>
                        <p>{{ item.description }}</p>
                        {% if item.link %}
                        <a class="small fw-medium" href="{{ item.link }}" target="_blank">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        {% else %}
                        <a class="small fw-medium disabled">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->

<!--Franchise Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h2 style="text-transform: uppercase; font-weight: 300; letter-spacing: 1px;">We are franchise of</h2>
        </div>
        <div class="row g-4">
            {% for franchise in franchises %}
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.{{ forloop.counter0 }}s">
                <div class="service-item rounded overflow-hidden">
                    <!-- Franchise Image -->
                    <img class="img-fluid" src="{{ franchise.image.url }}" alt="{{ franchise.name }}">
                    
                    <div class="position-relative p-4 pt-0">
                        <div class="service-icon">
                            <!-- Franchise Icon -->
                            <img src="{{ franchise.icon.url }}" alt="{{ franchise.name }} icon" style="width:80px;">
                        </div>
                        
                        <!-- Franchise Name -->
                        <h4 class="mb-3">{{ franchise.name }}</h4>
                        
                        <!-- Franchise Description -->
                        <p>{{ franchise.description }}</p>
                        
                        <!-- Optional Read More Link -->
                        {% if franchise.link %}
                        <a class="small fw-medium" href="{{ franchise.link }}" target="_blank">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        {% else %}
                        <a class="small fw-medium disabled">Read More<i class="fa fa-arrow-right ms-2"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Service End -->


        
    {% endblock %}